<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2 mt5 m-auto">
      <form action="" class="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" class="form-control">
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">
            {{gender}}
          </label>
        </div>

        <button class="btn btn-primary " type="submit">Submit</button>
      </form>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 m-auto">
      <form action="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="" formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
            <!-- <span *ngIf="!signupForm.get('userData.username')?.valid && signupForm.get('userData.username')?.touched" style="color: red;" class="help-block">Username is required.</span> -->
            <span 
              *ngIf="!signupForm.get('userData.username')?.valid && 
              signupForm.get('userData.username')?.touched" style="color: red;
              "
              class="help-block"
              >
              
              <span *ngIf="signupForm.get('userData.username')hasError">This name is invalid!</span>
              <span *ngIf="signupForm.get('userData.username')hasError">This field is required!</span>
            </span>
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
            <span *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched" style="color: red;" class="help-block">Email is required.</span>
          </div>
        </div>
  
        <div class="radio" *ngFor="let gender of genders">
          <label for="">
            <input type="radio" formControlName="gender" [value]="gender">
            {{gender}}
          </label>
        </div>

        <div class="" formArrayName="hobbies">
          <h2 class="fw-bold">Your Hobbies</h2>
          <button class="btn btn-primary" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group my-2" *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <div class="" formArrayName="habbits">
          <h2 class="fw-bold">Your Habbits!</h2>
          <button class="btn btn-warning" type="button" (click)="onAddHabbit()">Add your habbits</button>
          <div class="form-group" *ngFor="let habbitsControl of getControlsHabbits(); let j = index">
            <input type="text" class="form-control my-2" [formControlName]="j">
          </div>
        </div>

        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block" style="color: red;">Please enter a valid data.</span>
        <button class="btn btn-primary my-3" type="submit">Submit</button>
        
      </form>
    </div>
  </div>

  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Your Hobbies: {{user.hobbie}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>